{% extends "base.html.twig" %}
{% block title %}{{ program.title }} Saison {{ season.number }}{% endblock %}

{% block body %}       
    <h2>Saison {{ season.number }} de {{ program.title }} - {{ season.year }}</h2>
    <p>{{ season.description }}</p>

    <h2>Liste des épisodes</h2>
    <ul>
    {% for episode in episodes %}
        <li>Episode {{ episode.number }} : {{ episode.title }}</li>
       <p>{{ episode.synopsis }}</p>
    {% else %}
      <li>Aucun épisode trouvé.</li>
    {% endfor %}
    </ul>

  <a href="{{ path("program_show", { id: program.id }) }}">
    Retour à la fiche du programme
  </a>
{% endblock %} 