{% extends 'base.html.twig' %}
{% block title %}Série {{ program.title }}{% endblock %}

{% block body %}
<div class="container">
  <div class="card mb-3 mt-3 card border-secondary text-white bg-dark">
    <div class="row g-0">
      <div class="col-lg-4">
        <img class="card-img-top" src="{{program.poster}}" alt="{{ program.title }} poster">
      </div>
      <div class="card-body col-lg-8 text-center align-self-center">
        <h1 class="card-title">{{ program.title }}</h1>
        <p class="card-text">{{ program.synopsis }}</p>
        <p class="card-text"><small class="text-muted">Catégorie : {{ program.category.name }}</small></p>
        <p class="card-text">Acteurs:</p>
        <p class="card-text">
        <div class="row justify-content-center">
          {% for actor in program.actors %}
          <div class="col-auto mb-4">
            <a href="{{ path("actor_show", { id: actor.id}) }}" class="btn btn-outline-secondary">{{ actor.name }}</a>
          </div>
          {% else %}
          <p class="text-muted">Aucun acteur trouvé pour cette série</p>
          {% endfor %}
        </div>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  {% for season in seasons %}
  <div class="col-auto mb-4">
    <div class="card text-white bg-dark" style="width: 10rem;">
      <div class="card-body">
        <h5 class="card-title">Saison n° {{ season.number }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ season.year }}</h6>
        <a href="{{ path("program_season_show", { programId: program.id, seasonId: season.id }) }}"
          class="btn btn-outline-secondary">Voir la saison</a>
      </div>
    </div>
  </div>
  {% else %}
  Aucune saison trouvée.
  {% endfor %}
</div>
</div>
<div class="ms-5">
  <a href="{{ path('program_index') }}" class="btn btn-outline-dark ">
    Retour à la liste des programmes
  </a>
</div>
{% endblock %}